body{
	text-align: center;
	background: #FFF;
	font-weight: bold;
}

h1{
	color: Blue;
	font-weight: bold;
	font-size: 50px;
	margin: 135px 0px 20px;

}

#clockdiv{
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 55px;
}
#clockdiv > div {
	padding: 50px;
	border-radius: 7px;
	background: #1F5A56;
	display: inline-block;
}

 span {
	padding: 65px;
	border-radius: 3px;
	background-color: #000;
	display: inline-block;
} 

.smalltext {
	padding-top: 5px;
	font-size: 25px;
}
button {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0px auto 10px;
	border-radius: 5px;
	color: white;
	background-color: black;
}
#reset{
	display: block;
	margin: 10px auto 10px;
	border-radius: 5px;
	color: white;
	background-color: red;
}
form {
	margin:10px auto 20px;
}