{% extends 'schoollist/base.html' %}

{% block tables %}

<div style="padding: 10px;">
    <a href = "{% url 'classtable' %}">
        <button type="button" class="btn btn-dark">Go Back</button>
    </a>
</div>
<div style="width:50%; margin:auto;">

    <form method = 'POST' action = '{% url "class_form" %}'>
        {% csrf_token %}
        <table style="width:100%;">
            <tr>
                <th colspan="2">Enter New Class Details</th>
            </tr>
            <tr>
                <td>Class</td><td>{{form.grade}}</td>
            </tr>
            <tr>
                <td>Section</td><td>{{form.section}}</td>
            </tr>
            <tr>
                <td>Teacher</td><td>{{form.teacher}}</td>
            </tr>


        </table>
        <div class="buttons">
            <button style="width:100%;" type="submit" class="btn btn-primary">ADD</button>
        </div>


    </form>
</div>
{% endblock %}

